body {
    font-family: Arial, sans-serif;
    background-image: url("../img/OhigginsDonation.jpg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 5%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-top: 0;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.messages {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}
.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.success {
    background-color: #dff0d8;
    color: #3c763d;
}
.error {
    background-color: #f8d7da;
    color: #721c24;
}