body{
    background-image: url('../img/fondo-de-pantalla-atardecer-bosque-minimo-4k-8k-naturaleza-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
